@{
  Layout = "_Layout";
}
<div class="container">
  <h2>Edit Course:</h2>
  <form action="/courses/@Model.GetId()/update" method="post">
    <label for="name-number"> Name and Number: </label>
    <input type="text" name="new-name" value="@Model.GetName()">
    <br>
    <button type="submit"> Update </button>
  </form>
  <br>
  <hr>
  <h4><a href="/courses"> Home </a></h4>
</div>
