@{
  Layout = "_Layout";
}
<div class="container">
  <h2>Edit Course: @Model.GetName()</h2>
  <form action="/courses/@Model.GetId()/update" method="post">
    <label for="new-name"> Name and Number: </label>
    <input id="new-name" type="text" name="new-name" value="@Model.GetName()">
    <br>
    <button type="submit"> Update </button>
  </form>
  <br>
  <hr>
  <h4><a href="/courses"> Home </a></h4>
</div>
