@{
  Layout = "_Layout";
}
<div class="container">
  <h3>Add new course</h3>
  <hr>
  <form action="/courses" method="post">
    <label for="course-name"> Course Name:</label>
    <input type="text" name="course-name" id="course-name">
    <hr>
    <button type="submit"> Add </button>
    <hr>
  </form>
  <br>
  <h4><a href="/"> Home </a></h4>
</div>
